<h1>Groups</h1>
<div class="panel panel-primary">	
	<div class="panel-heading">
		<h2>Group controls</h2>
	</div>
	<div class="panel-body">
  	<form class="navbar-form navbar-left">
  		<h3>Create new group</h3>
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Group name" ng-model="dashCtrl.tempGroup.name">
      </div>
    	<button ng-click="dashCtrl.createGroup(dashCtrl.tempGroup.name)" class="btn btn-primary glyphicon glyphicon-plus"></button>
	  </form>
	</div>
</div>
<div ng-repeat="group in dashCtrl.userData.groups">
	<div class="panel panel-success">	
		<div class="panel-heading">
			<h2>{{group.name}}</h2>
		</div>
		<table class="table">
			<tr>
				<th>Member</th>
				<th>Remove</th>
			</tr>
			<tr ng-repeat="member in group.members">
				<td>{{member}}</td>
				<td>
					<div ng-hide="dashCtrl.isUser(member)">
						<button ng-click="dashCtrl.removeUser($parent.$index, member)" class="btn btn-danger glyphicon glyphicon-remove"></button>
					</div>
				</td>
			</tr>
		</table>
		<div class="panel-body container-fluid">
			<div class="col-lg-6">
		  	<form class="navbar-form navbar-left">
		  		<h3>Add member</h3>
	  		  <div class="alert alert-warning alert-dismissible" role="alert" ng-show="dashCtrl.errorArray[$index] != null">
		  			<button ng-click="dashCtrl.resetError($index)" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  			<strong><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span></strong> {{dashCtrl.errorArray[$index]}}
		  		</div>
		      <div class="form-group">
		        <input type="text" class="form-control" placeholder="User ID" ng-model="memberEmail">
		      </div>
		    	<button ng-click="dashCtrl.addUser($index, memberEmail)" class="btn btn-primary glyphicon glyphicon-plus"></button>
			  </form>
			</div>
			<div class="col-lg-6">
		  	<form class="navbar-form navbar-left">
		  		<h3>Leave group</h3>
		    	<button ng-click="dashCtrl.removeUser($index, dashCtrl.userData.user.id)" class="btn btn-danger glyphicon glyphicon-remove"></button>
		  	</form>
		  </div>
		</div>
	</div>
</div>