<div class="container">
	<div class="row">
		<h2>Current receiver: {{ '@' + receiverCtrl.receiver }}</p>
	</div>
	<div class="row">
		<input type="text" class="form-control" placeholder="Search" ng-model="search.screen_name" />
	</div>
	<div class="row thumbnail-row">
	  <div class="thumbnail-wrap" ng-repeat="friend in receiverCtrl.friends.users | filter:search">
	    <div class="thumbnail" ng-class="friend.screen_name === receiverCtrl.receiver ? 'current' : ''">
	      <img ng-src="{{ friend.profile_image_url }}" alt="{{'@' + friend.screen_name }}" />
	      <div class="caption">
	        <h3>{{'@' + friend.screen_name }}</h3>
	        <p>
	        	<a href="https://twitter.com/{{friend.screen_name}}" target="_blank" title="{{'@' + friend.screen_name }}" class="btn btn-default">View</a>
	        	<button class="btn btn-primary" ng-click="receiverCtrl.setReceiver(friend.screen_name)">Set receiver</button> 
	        </p>
	      </div>
	    </div>
	  </div>
	</div>
</div>
