.thumbnail-row {
     overflow: hidden;
}
.thumbnail-wrap {
     float: left;
     width: 20%;
     padding: 10px;
}
.thumbnail img {
     margin-top:20px;
}
.thumbnail.current {
     background: #eee;
}